header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  position: fixed;
}

.head_pic {
  width: 200px;
}
.hed_button {
  color: white;
}

.containerI {
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
  padding-top: 150px;
  text-align: center;
  background-image: url(https://www.manacal.co.jp/typing-license/images/haikei.jpg);
}
.start_page {
  font-size: 20px;
}

.redline {
  background: linear-gradient(transparent 80%, #fc0075 0%);
}

.containerA {
  visibility: cっっっっっっっっっっちゅう;
  text-align: center;
  margin: 0px 20px;
}
.containerB {
  font-size: 15px;
}
.horizontal {
  display: inline-block;
  margin: 5px 10px;
}
.question {
  color: white;
  background-color: #008af1;
  margin: 30px;
  padding: 20px;
  width: 240px;
}
.claim_point {
  font-size: 20px;
  background: linear-gradient(transparent 80%, #008af1 0%);
}
.containerII {
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
  padding-top: 50px;
  text-align: left;
  background-image: url(https://www.manacal.co.jp/typing-license/images/haikei2.jpg);
}

.answer {
  color: black;
  margin: 5px 20px;
  padding: 10px;
}
